@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #222831;
  --color-secondary: #393E46;
  --color-accent: #FFD369;
  --color-text: #EEEEEE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-primary); /* Use our background color variable */
  color: var(--color-text);       /* Use our text color variable */
  font-family: Arial, Helvetica, sans-serif;
}
